@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Poppin');

body {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url(images/image_geometry_1.svg);
}

.nav-header {
  display: flex;
  width: 310px;
  height: auto;
}

.section {
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.name {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  align-items: center;
  margin-bottom: 0;
  color: #1a2236;
}

.skills1,
.skills2 {
  color: #1a2236;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1%;
  font-weight: 595;
  width: 270px;
}

.collab {
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 270px;
  background: #1a2236;
}

.container {
  background-color: #e5e5e5;
  height: 655px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(images/image_geometry_2.png);
}

.humburger {
  padding-top: 20px;
}

.humburger .line {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #1a2236;
  margin-left: 260px;
}

.nav__link {
  position: fixed;
  width: 100;
  top: 5.5rem;
  background-color: white;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px;
}

.nav__link a:hover {
  color: aqua;
}

.hide {
  display: none;
}
