@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Poppin');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
}

a {
  text-decoration: none;
  color: #1a2236;
  font-size: 16px;
  font-weight: 400;
}

nav {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.humburger {
  padding-right: 10px;
  cursor: pointer;
}

.humburger .line {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #1a2236;
}

.nav__link {
  position: fixed;
  width: 100;
  top: 5.5rem;
  background-color: white;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px;
}

.nav__link a:hover {
  color: aqua;
}

.hide {
  display: none;
}

.section {
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.info {
  margin-left: 0;
  margin-bottom: 0;
  align-items: flex-start;
}

.name {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  align-items: center;
  margin-bottom: 0;
  color: #1a2236;
  padding-top: 40px;
  padding-left: 20px;
}

.skills1,
.skills2 {
  color: #1a2236;
  font-family: 'Poppin' Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1%;
  padding: 20px;
  font-weight: 400;
  width: 288px;
}

.collab {
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 288px;
  background: #1a2236;
}

.banner {
  margin-top: 33px;
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 10px 20px;
  }

  .humburger {
    display: none;
  }

  .img {
    display: none;
  }
}
