@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Poppin');

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.main-header {
  height: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  margin-left: 20px;
  margin-right: 20px;
}

.hamburger-menu {
  display: none;
}

.hamburger .line {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #1a2236;
}

.hamburger {
  margin-right: 16px;
  margin-top: 19px;
  cursor: pointer;
}

.homepage {
  position: relative;
}

.homepage-heading {
  margin-top: 25px;
  margin-left: 16px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #1a2236;
  font-weight: 400;
}

.homepage-description1,
.homepage-description2 {
  margin-top: 23px;
  margin-left: 20px;
  margin-right: 16px;
  color: #1a2236;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: -1%;
  font-weight: 400;
  margin-bottom: 40px;
}

.homepage-sub-container {
  background: #1a2236;
  height: 50px;
}

.homepage-start-collab,
.get-started-start-collab,
.about-start-collab,
.start-collab {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #1a2236;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  width: 100%;
}

.start-collab:hover {
  color: #98dede;
  transition-delay: 0.2s;
}

.homepage-container-img {
  top: 370px;
  background-image: url(images/Thur.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 10px;
}

.projects-heading {
  margin-top: 30px;
  color: #1a2236;
  font-weight: 400;
  font-size: 50px;
  margin-left: 20px;
  padding-bottom: 30px;
}

.projects-project1,
.projects-project2,
.projects-project3,
.projects-project4,
.projects-project5,
.projects-project6 {
  width: 100%;
}

.projects-img2 {
  margin-top: -10px;
  height: 170px;
  background-repeat: no-repeat;
  background-image: url(images/Rectangle22.png);
  background-size: cover;
}

.heading-blue-background {
  color: #fff;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  margin-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
}

.buttons li {
  padding-top: 10px;
  list-style-type: none;
  display: inline-block;
  margin-inline: 3px;
}

.button1 {
  margin-left: 20px;
}

.button1,
.button2,
.button3 {
  background-color: #98dede;
  padding: 2px 5px 2px 5px;
  border: none;
  display: inline-block;
  color: #1a2236;
  font-size: 10.33px;
}

.rectangle {
  margin-left: 20px;
  padding-top: 20px;
}

.arrow {
  position: absolute;
  margin-top: -35px;
  margin-left: 165px;
}

.see {
  position: absolute;
  margin-top: -35px;
  margin-left: 35px;
  font-family: 'Poppis', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.see a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.about-container {
  height: 100%;
}

.heading-about,
.heading-contact {
  color: #1a2236;
  font-weight: 400;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 40px;
}

.about-me,
.contact-para {
  margin-bottom: 40px;
  color: #1a2236;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  letter-spacing: -1%;
}

.resume-btn a {
  text-decoration: none;
  color: #98dede;
}

.see a:hover {
  color: #98dede;
  transition-duration: 0.8s;
}

.arrow2 {
  position: absolute;
  margin-top: 6px;
  margin-left: 17px;
}

.rectangle45 {
  margin-left: 11px;
  margin-top: 12px;
}

.rec41text {
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  padding-top: 10%;
  margin-left: 25%;
  width: 100%;
}

.rec41 ul,
.rec42 ul,
.rec43 ul {
  padding-left: 30%;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 5%;
}

.rec41 {
  background-image: url(images/number.png), url(images/Rectangle41.png);
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  background-position: right bottom;
  height: 100%;
  background-size: auto, cover;
  padding-bottom: 78px;
}

.rec42 {
  background-image: url(images/ic_framework.png), url(images/Rectangle39.png);
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-position: right bottom;
  height: 100%;
  background-size: auto, cover;
  padding-bottom: 78px;
}

.rec43 {
  background-image: url(images/ic_skills.png), url(images/Rectangle42.png);
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-position: right bottom;
  height: 100%;
  background-size: auto, cover;
  padding-bottom: 78px;
}

.contact-container {
  margin-top: 50px;
  background-color: #f9f9fa;
}

.contact-info1 {
  margin-top: 40px;
}

.contact-info2 {
  margin-top: 10px;
}

.name,
.email {
  background-color: #fff;
  border: 1px solid;
  height: 52px;
  border-color: #dfdfe0;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 10px;
  display: inline-block;
  width: 90%;
  box-sizing: border-box;
  margin-left: 20px;
}

.message {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid;
  border-color: #dfdfe0;
  border-radius: 4px;
  display: inline-block;
  width: 90%;
  box-sizing: border-box;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  resize: none;
}

.character-limit {
  width: 100%;
  padding-right: 20px;
  margin-top: 5px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 35px;
  margin-left: 80%;
}

.contact-img {
  margin-top: 53px;
  height: 150px;
  background-repeat: no-repeat;
  background-image: url(images/Rectangle22.png);
  background-size: cover;
}

.share-icon {
  position: absolute;
  margin-left: 1%;
}

.resume-btn {
  margin-top: 35px;
  margin-left: 20px;
  background-color: #1a2236;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 70px;
}

.icons li {
  margin-top: 15px;
  margin-left: 20px;
  list-style-type: none;
}

.icons ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.your-email,
.your-name,
.your-message {
  color: transparent;
}

@media only screen and (min-width: 768px) {
  main-container {
    margin: 100px;
  }
  
  projects-main-container {
    display: flex;
   }
  .nav-bar {
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
    padding-left: 40%;
  }

  .homepage-heading {
    font-size: 110px;
    margin-top: 132px;
    margin-left: 295px;
  }

  .homepage-description1,
  .homepage-description2 {
    margin-left: 300px;
    width: 484px;
  }

  .homepage-start-collab {
    margin-left: 280px;
    width: 254px;
    border: none;
  }

  .homepage-container-img {
    transform: rotate(360deg);
    margin-left: 950px;
    margin-top: -668px;
    height: 877px;
    width: 702px;
  }

  .dotted-square {
    background-image: rl(images/dotted-square.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    
  }

  .projects {
    margin-top: 150px;
  }

  .projects-heading {
    position: absolute;
    font-size: 110px;
    transform: rotate(-90deg);
    margin-left: 150px;
  }
  
  .hamburger .line,
  .hamburger,
  .nav-img,
  #project2,
  #project3,
  #project4,
  #project5,
  #img6 {
    display: none;
  }

  .hamburger-menu {
    display: contents;
  }

  .hamburger-menu ul {
    list-style: none;
    display: flex;
  }

  .see a {
    color: #1a2236;
  }

  .hamburger-menu li a {
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1a2236;
    margin-left: 40px;
  }

  .projects-project1 {
    width: 978px;
    margin-top: -70px;
    height: 490px;
    margin-left: 334px;
  }

  .dotted1 {
    margin-right: 1200px;
    margin-top: -620px;
  }

  .projects-project2 {
    position: absolute;
    width: 465px;
    height: 270px;
    margin-top: -93px;
    margin-left: 102px;
  }

  .projects-project3 {
    position: absolute;
    width: 800px;
    height: 465px;
    margin-top: 38px;
    margin-left: 102px;
  }

  .projects-project4 {
    position: absolute;
    width: 465px;
    height: 270px;
    margin-top: 269px;
    margin-left: 500px;
  }

  .projects-project5 {
    position: absolute;
    width: 465px;
    height: 270px;
    margin-left: 590px;
    margin-top: 1px;
  }

  #projects6 {
    width: 465px;
    height: 240px;
    margin-left: 1181px;
    margin-top:-236px;
  }

  .projects-img2 {
    position: absolute;
    margin-top: -590px;
    height: 320px;
    width: 978px;
    background-repeat: no-repeat;
    background-image: url(images/Rectangle22.png);
    background-size: cover;
    margin-left: 669px;
  }

  .heading-blue-background {
    color: #fff;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    margin-left: 40px;
    padding-top: 20px;
    font-size: 60px;
    font-weight: 300;
  }

  #blue-heading {
    font-size: 40px;
  }

  .button1 {
    margin-left: 40px;
  }

  .button1,
  .button2,
  .button3 {
    background-color: #98dede;
    padding: 2px 5px 2px 5px;
    border: none;
    display: inline-block;
    color: #1a2236;
    font-size: 20px;
  }

  .see {
    margin-left: 50px;
  }

  .rectangle {
    margin-left: 40px;
    margin-top: 40px;
    background-color: #fff;
    padding-top: 0;
  }

  .About {
    margin-top: 1700px;
  }

  .heading-about {
    font-size: 110px;
    float: right;
    margin-right: 450px;
  }

  .about-me {
    float: right;
    margin-right: 150px;
    margin-left: 1150px;
  }

  .about-start-collab {
    width: 254px;
    border: none;
    margin-left: 1130px;
  }

  .rec41,
  .rec42,
  .rec43 {
    width: 300px;
    height: 200px;
  }

  .rec41 {
    position: absolute;
    margin-top: -390px;
    margin-left: 220px;
  }

  .rec42 {
    position: absolute;
    margin-left: 520px;
    margin-top: -390px;
  }

  .rec43 {
    margin-left: 220px;
    margin-top: -180px;
    height: 220px;
  }

  .contact {
    margin-top: 150px;
  }

  .heading-contact {
    text-align: center;
    font-size: 110px;
  }

  .contact-para {
    margin-left: 695px;
    margin-right: 650px;
  }

  #collab {
    width: 254px;
    align-content: center;
    margin-left: 840px;
  }

  .message {
    width: 542px;
    margin-left: 695px;
  }

  .input-wrapper {
    display: flex;
    width: 565px;
    margin-left: 675px;
  }

  .wrapper,
  .your-message {
    display: flex;
    width: 565px;
    margin-left: 695px;
    margin-bottom: 10px;
  }

  ::placeholder {
    color: transparent;
  }

  .your-name {
    padding-right: 220px;
  }

  .your-name,
  .your-email,
  .your-message {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7d7c84;
  }

  .resume-btn {
    margin-top: 70px;
    margin-left: 100px;
  }

  .character-limit {
    margin-left: 1200px;
  }

  .icons {
    float: right;
    margin-top: 70px;
  }

  .resume-and-icons {
    width: 90%;
    align-items: center;
  }

  .semi-circle {
    background-image: url(images/image-geometry_2.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 750px;
    margin-top: 420px;
    position: absolute;
    margin-left: 670px ;
    
  }

  .diamond {
    background-repeat: no-repeat;
    background-image: url(images/image-geometry_3.png);
    height: 270px;
    margin-left: 1005px;
    margin-top: 267px;
  }

  .geometry-5 {
    background-repeat: no-repeat;
    background-image: url(images/image-geometry_5.png);
    height: 124px;    
    margin-left: 204px;
  }

  .geometry-4 {
    background-repeat: no-repeat;
    background-image: url(images/image-geometry_4.png);
    height: 88px;
    margin-left: 913px;
    margin-top: -122px;
  }

 
}
